.main-container {
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-top: 5rem;
    padding-top: 5%;
}

.field-container {
    display: flex;
    flex-direction: row;
    padding: var(--form-input-padding);
}

.type-buttons-container {
    display: flex;
    flex-direction: column;
    padding: var(--form-input-padding);
}

.type-label {
    width: auto;
}

label {
    font-family: tahoma;
    font-size:small;
    text-align: right;
    width:100px;
    display:block;
    padding-right: 0.5rem;
}

button {
    margin-left: 6rem;
}

input {
    border-color:lightgray;
    border-width:1px;
    border-style:solid;
}

.error-message {
    opacity: 0.0;
    color: red;
}

#username-checkmark {
    opacity: 0;
}

#email-checkmark {
    opacity: 0;
}

#type-checkmark {
    opacity: 0;
    display: flex;
    padding-top: 1rem;
}

#position-checkmark {
    opacity: 0;
}

:root {
    --form-input-padding: 0.25rem;
} 